/* ----------------------------------------------------------------
  フッターのレイアウト
---------------------------------------------------------------- */
.footer {
  padding: 15px 0;
  text-align: center;
  .copyright {
    font-size: 1.2rem;
  }
}
@include res_min( $break ){
  .footer {
    padding: 0 0 10px;
    .copyright {
      font-size: 1.4rem;
    }
  }
}